In [1]:
l= [1,2,3,4,"kUAHI",3+4j]

In [10]:
for i in l:
    print(i)
    print(type(i))
    a=type(i)
    print(a)

1
<class 'int'>
<class 'int'>
2
<class 'int'>
<class 'int'>
3
<class 'int'>
<class 'int'>
4
<class 'int'>
<class 'int'>
kUAHI
<class 'str'>
<class 'str'>
(3+4j)
<class 'complex'>
<class 'complex'>

In [12]:
for i in l:
    #print(i)
    pass

In [15]:
for i in l:
    print(i)
else:
    print("all elements are printed")

1
2
3
4
kUAHI
(3+4j)
all elements are printed

In [16]:
for i in l:
    print(i)
    if i == (3+4j):
        break
else:
    print("all elements are done with printing")

1
2
3
4
kUAHI
(3+4j)

In [13]:
a ={"a":22,"bb":"rrtb",22:3+4j,(1,23):2343}

In [14]:
for i,j in a.items():
    print(i)
    print(j)

a
22
bb
rrtb
22
(3+4j)
(1, 23)
2343

In [23]:
for i in a.keys():
    print(i)

a
bb
22
(1, 23)

In [24]:
for i in a.values():
    print(i)

22
rrtb
(3+4j)
2343

In [17]:
t =(1,2,3,"kk",2+4j)

In [18]:
for i in t:
    print(i)

1
2
3
kk
(2+4j)

In [19]:
se = {1,2,3,"dfdh",98,234,321,44,5,4,5+5j}

In [20]:
for i in se:
    print(i)

321
1
2
3
98
5
4
234
44
(5+5j)
dfdh

In [21]:
se

{(5+5j), 1, 2, 234, 3, 321, 4, 44, 5, 98, 'dfdh'}

In [22]:
se

{(5+5j), 1, 2, 234, 3, 321, 4, 44, 5, 98, 'dfdh'}

In [25]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [31]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [30]:
for i in range(5):
    for j in range(i):
        print("boni",end =" ")
    print("\n")

boni

boni boni

boni boni boni

boni boni boni boni

In [34]:
for i in range(5,0,-1):
    for j in range(i):
        print("boni",end=" ")
    print('\n')

boni boni boni boni boni

boni boni boni boni

boni boni boni

boni boni

boni

In [50]:
m=5
for i in range(5):  
    for j in range(m,0,-1):
        print(" ",end =" ")
    for k in range(i):
        print("kkk",end=" ")
    for l in range(m,0,-1):
        print(" ",end=" ")
    m=m-1
    print("\n")

        kkk

      kkk kkk

    kkk kkk kkk

  kkk kkk kkk kkk

In [66]:
mm=5
for i in range(5):
    for j in range(mm,0,-1):
        print(" ",end =" ")
    for k in range(i):
        print("kkk",end =" ")
    mm -=1
    print("\n")

mm=5            
for o in range(5):
    for m in range(o):
        print(" ",end =" ")
    for n in range(mm,0,-1):
        print("kkk",end =" ")
    mm -=1
    print("\n")
    #for o in range(i)

        kkk

      kkk kkk

    kkk kkk kkk

  kkk kkk kkk kkk

kkk kkk kkk kkk kkk

  kkk kkk kkk kkk

    kkk kkk kkk

      kkk kkk

        kkk

In [67]:
s= "ineuron"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [68]:
l ={"sud":"kkk","ere":222,123234:"SS",4545:7667,(3,4,5):7676}

In [73]:
a= [ ]
for i,j in l.items():
    if type(i) == int:
        a.append(i)
    if type(j) == int:
        a.append(j)
    if type(i) == tuple:
        aa = i
        for m in aa:
            if type(m) == int:
                a.append(m)
    if type(j) ==  tuple:
        bb = i 
        for n in bb:
            if type(n) == int:
                a.append(n)
print(a)

[222, 123234, 4545, 7667, 7676, 3, 4, 5]

In [75]:
len(a)

8

In [76]:
s = "sdbslfjljpoahwehrashfhpaewiorip"

In [77]:
s11 = set(s)

In [78]:
len(s11)

14

In [80]:
for jj in s11:
    print(jj," : ",s.count(jj))

d  :  1
e  :  2
s  :  3
a  :  3
f  :  2
w  :  2
r  :  2
p  :  3
j  :  2
b  :  1
o  :  2
h  :  4
i  :  2
l  :  2

In [93]:
count =0
for i in range(50):
    for j in range(2,i):
        if i%j == 0:
            break
        if j == i-1:
            print(i)
#             count=count+1
#     if count ==1:
#         print(i)
    count = 0

3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [112]:
count =0
for ki in range(50):
    for j in range(2,ki+1):
        if ki%j == 0:
            break
        if j == ki-1:
            print(ki)
#             count=count+1
#     if count ==1:
#         print(i)
    count = 0

3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [99]:
for i in range(5):
    for j in range(i):
        print("ineuron",end= " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [107]:
m=5
for i in range(5):
    for j in range(m,0,-1):
        print("   ",end= " ")
    for k in range(i):
        print("ineuron",end = " ")
    m -=1
    print("\n")
    
o =5
for u in range(5):
    for w in range(u):
        print("   ",end = " ")
    for v in range(o,0,-1):
        print("ineuron",end = " ")
    o = o-1
    print("\n")

                ineuron

            ineuron ineuron

        ineuron ineuron ineuron

    ineuron ineuron ineuron ineuron

ineuron ineuron ineuron ineuron ineuron

    ineuron ineuron ineuron ineuron

        ineuron ineuron ineuron

            ineuron ineuron

                ineuron

In [122]:
print(1)
for i in range(100):

    for j in range(2,i):
        if i%j == 0:
            break
        if j == i-1:
            print(i)

1
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [161]:
m=5
for i in range(5):
    for j in range(m,0,-1):
        print("  ",end=" ")
    for k in range(i):
        print("#$%@",end= " ")
    m -=1
    print("\n")

z=5
for u in range(5):
    for w in range(u):
        print("  ",end=" ")
    for v in range(z,0,-1):
        print("#$%@",end=" ")
    print("\n")
    z -=1

            #$%@

         #$%@ #$%@

      #$%@ #$%@ #$%@

   #$%@ #$%@ #$%@ #$%@

#$%@ #$%@ #$%@ #$%@ #$%@

   #$%@ #$%@ #$%@ #$%@

      #$%@ #$%@ #$%@

         #$%@ #$%@

            #$%@