# Function basic

In [13]:
def test(a,b):
    """this returns the sum and product"""
    return(f"sum is :{a+b}  and product is: {a*b}")

In [14]:
test(5,4)

'sum is :9  and product is: 20'

In [15]:
test(a =99 ,b=343)

'sum is :442  and product is: 33957'

# *ARGS

In [19]:
def test1(*sdfs):
    return(sdfs)

In [20]:
test1(33,5,5,43,'sgfsg')

(33, 5, 5, 43, 'sgfsg')

In [21]:
test1("erwe",4,6,3,"rtre")

('erwe', 4, 6, 3, 'rtre')

In [22]:
def test2(a,b,d,*sdfs):
    return (a,b,sdfs)

In [23]:
test2(1,2,4,5,6,5)

(1, 2, (5, 6, 5))

# *KWARGS

In [24]:
def test9(**kwargs):
    return(kwargs)

In [29]:
test9(a=34,sfg="lkjlj", f= "dsgf")

{'a': 34, 'sfg': 'lkjlj', 'f': 'dsgf'}

In [35]:
def test10(**k):
    return(k)

In [40]:
test10(s=9,mbb =993,sf= 99)

{'s': 9, 'mbb': 993, 'sf': 99}

# Lambda

In [43]:
a = lambda c,d: c*d

In [44]:
a(2,4)

8

In [47]:
def a(c,d):
    return(c*d)

In [48]:
a(2,4)

8

In [52]:
c  = lambda *g : g

In [53]:
c(1,2)

(1, 2)

In [55]:
c(2,3,4,5,"kk")

(2, 3, 4, 5, 'kk')

In [56]:
def c(*g):
    return g

In [57]:
c(1,2)

(1, 2)

In [58]:
c(3,4,5,"gjlja",True)

(3, 4, 5, 'gjlja', True)

# List Comprehension

In [59]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
[i for i in range(10) if i%2 ==0]

[0, 2, 4, 6, 8]

In [64]:
test14(a =10,b="sudh",c=345,l=[1,2,4,"dud"])

5

In [63]:
def test14(**k):
    count = 0
    for i,j in k.items():
        if type(i) ==  str:
            count +=1
        if  type(j) == str:
            count +=1
    return(count)

In [66]:
for i in range(100):
    for j in range(2,i):
        if i%j == 0:
            break
        if j == i-1 :
            print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [86]:
a = lambda *d : str([j for i in d j=j+i])

SyntaxError: invalid syntax (1287306676.py, line 1)

In [77]:
a(12,34,23)

'[25, 69, 47]'

In [78]:
a("df","dfdf")

TypeError: can only concatenate str (not "int") to str

In [79]:
l =["dfd","hhg"]
l

['dfd', 'hhg']

In [89]:
j=""
for i in l:
    i = str(i)+str(i)
print(i)

hhghhg

In [95]:
b= lambda h : [i*i for i in range(h) if i <=100]

In [94]:
b(200)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [96]:
99*99

9801